
@font-face {
    font-family: Avenir;
    src: url('~@/assets/fonts/Avenir.ttc') format('type');
}

@import url('./variables.scss');

body{
    font-size: 16px;
}

body,
html {
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

body,
ul,
ol,
p,
hr {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
// 滚动条
.scrollBar::-webkit-scrollbar-track { /* 定义滚动条轨道  内阴影+圆角*/
    background-color: transparent;
}

.scrollBar::-webkit-scrollbar { /*滚动条整体样式*/
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-radius: 4px;
}

.scrollBar::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 4px;
    background-color: #E5E5E5;
}

// 清除浮动
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
.align-center {
    text-align: center;
}

*, *::after, *::before {
    box-sizing: border-box;
}


.common-box {
    padding-top: $headerHeight;
    max-width: $screenWidth;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .common-box {
        padding-top: $headerHeightMobile;
        max-width: 100%;
    }
}
.screenPadding {
    max-width: $screenWidth;
    margin: auto;
}
.common-titles {
    // height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $greenText;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 1000;
    line-height: 1.2;
}

@media only screen and (max-width: 1200px) {
    .common-titles {
        font-size: 45px;
    }
}
@media only screen and (max-width: 900px) {
    .common-titles {
        font-size: 28px;
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
.view-all-wrap {
    // height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-top: 50px;
    // padding-bottom: 50px;
    .view-all {
      color: $green;
      cursor: pointer;
      font-size: 30px;
      font-weight: bold;
      transition: all 0.3s ease;
      &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 0 2px 5px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-top: 3px solid $green;
        border-right: 3px solid $green;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      &:hover {
        color: $greenText;
        // transform: scale(1.2);
        &::after {
          border-top: 3px solid $greenText;
          border-right: 3px solid $greenText;
        }
      }
    }
}


@media only screen and (max-width: 900px) {
    .view-all-wrap {
        .view-all {
          font-size: 24px;
          &::after {
            width: 10px;
            height: 10px;
            margin: 0 0 2px 5px;
            border-top: 2px solid $green;
            border-right: 2px solid $green;
          }
          &:hover {
            color: $green;
            &::after {
              border-top: 2px solid $green;
              border-right: 2px solid $green;
            }
          }
        }
    }
}

.detail-page-title {
    padding: 45px 0 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $greenText;
    position: relative;
    .detail-page-title-left {
        font-size: 50px;
        font-weight: 1000;  
        .detail-page-second {
            margin-top: -10px;
        }
        .detail-page-subtitle {
            color: #000;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.5;
            // margin-top: 10px;
        }
        .pre-name {
            white-space: pre-line;
            line-height: 1.1;
            text-transform: uppercase;
        }
    }
    .detail-page-title-right {
        img {
            width: 100px;
            height: 100px;
            margin-left: 20px;
        }
    }
}
@media only screen and (max-width: 1200px) {
.detail-page-title {
    .detail-page-title-left {
        font-size: 46px;
    }
    .detail-page-title-right {
        flex-shrink: 0;
        img {
            width: 90px;
            height: 90px;
            margin-left: 10px;
        }
    }
}
}
@media only screen and (max-width: 900px) {
.detail-page-title {
    .detail-page-title-left {
        font-size: 34px;
    }
    .detail-page-title-right {
        img {
            width: 70px;
            height: 70px;
        }
    }
}
}


@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 900px) {
    
}