$green: #0BAB50;
$greenText: #006633;
$width: 1300px;
$screenWidth: 1440px;
$headerNavHeight: 74px;
$padding: 70px;
$red: red;
$headerNotice: 40px;
$headerHeight: calc( 74px + 46px );

$headerHeightMobile: calc( 60px + 40px );